.home-header {
  position: relative;
  background-image: url("/public/home-header-background-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(500px, 55vw, 1500px);
  padding-left: clamp(25px, 5vw, 115px);
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  & > * {
    position: relative;
    z-index: 1;
  }
}
.home-header-title {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  h1 {
    color: #F3F3F3;
    font-size: clamp(16px, 2.5vw, 60px);
    width: max-content;
    span {
      color: #C8A85E;
    }
  }
  h3 {
    color: #9d9d9d;
    font-size: clamp(10px, 1.5vw, 40px);
    max-width: clamp(250px, 52vw, 1000px);
  }
}
@media (max-width: 830px) {
  .home-header {
    background-position-x: -30px;
  }
}
@media (max-width: 360px) {
  .home-header {
    background-position-x: -40px;
  }
}