.contact-header {
  position: relative;
  background-image: url("/public/contact-header-background-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(500px, 55vw, 1500px);
}
.contact-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(500px, 55vw, 1500px);
  z-index: 1;
  background-color: color-mix(in oklab, lab(3.01922% -.727452 -4.46609) 50%, transparent);
}
.contact-header-title {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  h1, p {
    text-align: center;
  }
  h1 {
    font-size: clamp(16px, 2.5vw, 60px);
    color: #F3F3F3;
  }
  p {
    max-width: clamp(280px,50%, 950px);
    color: #9d9d9d;
    font-size: clamp(1rem, 1.8vw, 1.25rem);
  }
  hr {
    background: #C8A85E;
    height: 2px;
    border: none;
    width: clamp(100px, 18vw, 150px);
    margin: 1rem auto;
  }
}