* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  --bg-color: #111827;
  --nav-bg: color-mix(in oklab, lab(3.01922% -.727452 -4.46609) 80%, transparent);
  --link-color: #888888;
  --global-color: #F0F8FFFF;
  --subTitle-color: #9CA3AF;
  --title-color: #F3F3F3;
  --price-color: #C8A85E;
  --background-home-icons: color-mix(in oklab, lab(71.2019% 8.24577 52.3464) 10%, transparent);
  --color-home-icons: lab(71.2019% 8.24577 52.3464);
  --bg-home-contact-icons: color-mix(in oklab, lab(71.2019% 8.24577 52.3464) 10%, transparent);
  --background-about-container: lab(12.9615% -1.76476 -6.95769);
  --border-color-about-img: lab(71.2019% 8.24577 52.3464);
  --background-contact-item: lab(5.23127% -1.15929 -6.2068);
  --product-item-background: lab(5.23127% -1.15929 -6.2068);
  --background-filters-color: lab(5.23127% -1.15929 -6.2068);
  --filters-border-bottom: color-mix(in oklab, lab(74.6925% 8.066 51.8524) 50%, transparent);
  --product-loading-container-bg-color: lab(5.2% -1.1 -6.2);
  --product-loading-container-bg-image:  linear-gradient(110deg, lab(5.2% -1.1 -6.2) 10%, lab(12% -1 -6) 50%, lab(5.2% -1.1 -6.2) 60%);
  --product-loading-element-color: #0c0c0c;
}
.light {
  --bg-color: #F0F8FFFF;
  --nav-bg: rgb(37 31 28 / 64%);
  --link-color: #FFFFFF;
  --global-color: #000000;
  --subTitle-color: #4B5563;
  --title-color: #2D3748;
  --price-color: #a36000;
  --background-home-icons: color-mix(in oklab, lab(71.2019% 8.24577 52.3464) 50%, transparent);
  --color-home-icons: #2D3748;
  --bg-home-contact-icons: color-mix(in oklab, lab(71.2019% 8.24577 52.3464) 10%, #0000000f);
  --background-about-container: lab(56 -3.46 -12.86 / 0.3);
  --border-color-about-img: lab(12.9615% -1.76476 -6.95769);
  --background-contact-item: color-mix(in oklab, lab(1.55425% -0.288241 -1.34299) 50%, transparent);
  --product-item-background: lab(5 -1.16 -6.21 / 0.12);
  --background-filters-color: rgb(212, 219, 227);
  --filters-border-bottom: color-mix(in oklab, lab(18.7658% -1.84783 -6.98735) 50%, transparent);
  --product-loading-container-bg-color: #e5e5e5;
  --product-loading-container-bg-image: linear-gradient(110deg, #e5e5e5 25%, #ffffff 50%, #e5e5e5 75%);
  --product-loading-element-color: #a7a5a5;;
}
body {
  max-width: 3000px;
  margin: 0 auto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  color: var(--global-color);
}
.scrollUp {
  margin: clamp(2rem, 5.5vw, 5rem) 0;
}
a {
  text-decoration: none;
  color: #F0F8FFFF;
}