.single-product-slider-Info {
  margin: clamp(100px, 15vw, 150px) auto 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(2rem, 5.5vw, 5rem);
}
.single-product-cards {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  h2 {
    font-size: clamp(18px, 2.2vw, 28px);
    text-align: center;
    span {
      color: lab(71.2019% 8.24577 52.3464);
    }
  }
}
.single-product-container-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 280px));
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-content: center;
  .home-page-about-container-icons {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    border: 1px solid color-mix(in oklab, lab(18.7658% -1.84783 -6.98735) 50%, transparent);
    padding: 1.5rem;
    background-color: var(--background-contact-item);
    border-radius: 16px;
    &:hover {
      border-color: lab(71.2019% 8.24577 52.3464);
    }
    div {
      width: max-content;
      height: max-content;
      border-radius: 16px;
      background-color: var(--background-home-icons);
    }
    p {
      font-size: 16px;
      color: var(--title-color);
    }
    span {
      font-size: clamp(12px, 1.2vw, 16px);
      color: var(--link-color);
    }
    svg {
      font-size: 32px;
    }
  }
}
.single-product-text {
  padding: 2.5rem 1rem;
  margin-block: 2.5rem;
  background: var(--background-about-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 2rem;
    color: var(--title-color);
    font-size: clamp(16px, 2vw, 26px);
    text-align: center;
  }
  div {
    max-width: 840px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    p {
      color: var(--subTitle-color);
      font-size: clamp(12px, 1.2vw, 16px);
    }
  }
}